body {
  background-color: #444;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  background-image: url("../img/intro_back.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}

body .intro {
  background-color: #000;
  width: 100vw;
  height: 100vw;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
}

body .intro .introBack {
  width: 800px;
  height: 480px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("../img/intro_back.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  padding: 40px 0 0 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .intro .introBack svg {
  z-index: 9999;
  width: 368px;
}

body .intro .introBack svg text {
  font-size: 100px;
  stroke: black;
  stroke-width: 5;
  font-family: 'Big Shoulders Stencil Text', cursive;
  font-weight: 900;
  margin: 0 0 15px;
  z-index: 9999;
  -webkit-animation: textAnimate 5s alternate;
          animation: textAnimate 5s alternate;
}

@-webkit-keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 20%;
  }
  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffset: -20%;
  }
}

@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 20%;
  }
  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffset: -20%;
  }
}

body .intro .introBack .start {
  font-size: 14px;
  padding: 7px 5px 5px;
  cursor: pointer;
  background-color: #ffff0088;
  width: 348px;
  text-align: center;
}

body .intro .introBack .start:hover {
  background-color: #ffffff88;
}

body .intro .introBack .create {
  position: absolute;
  right: 90px;
  top: 100px;
  letter-spacing: 1px;
}

body .intro .introBack .create h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  margin-bottom: 8px;
  font-weight: bold;
}

body .intro .introBack .create .copy {
  margin-top: 3px;
}

body .lastStage {
  background-color: #000;
  width: 100vw;
  height: 100vw;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
}

body .lastStage .lastStageBack {
  width: 800px;
  height: 480px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("../img/intro_back.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .lastStage .lastStageBack .win,
body .lastStage .lastStageBack .lose {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 35px;
  color: white;
  text-shadow: -3px 5px 9px #000;
  letter-spacing: 2px;
}

body .lastStage .lastStageBack svg {
  z-index: 9999;
  width: 368px;
  margin: 0 auto 15px;
}

body .lastStage .lastStageBack svg text {
  font-size: 100px;
  stroke: black;
  stroke-width: 5;
  font-family: 'Big Shoulders Stencil Text', cursive;
  font-weight: 900;
  margin: 0 0 15px;
  z-index: 9999;
}

body .lastStage .lastStageBack .start {
  font-size: 14px;
  padding: 7px 5px 5px;
  cursor: pointer;
  background-color: #ffff0088;
  width: 300px;
  text-align: center;
  margin: auto;
}

body .lastStage .lastStageBack .start:hover {
  background-color: #ffffff88;
}

body .lastStage .lastStageBack .create {
  position: absolute;
  right: 90px;
  top: 100px;
  letter-spacing: 1px;
}

body .lastStage .lastStageBack .create h2 {
  font-size: 1.1em;
  margin-bottom: 8px;
  font-weight: bold;
}

body .lastStage .lastStageBack .create .copy {
  margin-top: 3px;
}

body .hide {
  display: none;
  visibility: hidden;
}

body .origo {
  width: 1px;
  height: 1px;
  background-color: #000;
  position: relative;
}

body .origo .dataContainer {
  width: 100px;
  position: absolute;
  left: -340px;
  top: -240px;
  font-size: 19px;
  color: #111;
  line-height: 1.5em;
}

body .origo .dataContainer span {
  font-weight: normal;
  display: inline-block;
  position: absolute;
  right: 0;
  color: #cece04;
}

body .origo .controlContainer {
  width: 90px;
  height: 90px;
  position: absolute;
  left: 260px;
  top: -240px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  gap: 10px 10px;
      grid-template-areas: ". c1 ." "c2 c3 c4" "c5 c5 c5";
}

body .origo .controlContainer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ddd;
  color: #111;
  border-radius: 4px;
  padding-top: 3px;
}

body .origo .controlContainer .c1 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: c1;
}

body .origo .controlContainer .c2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: c2;
}

body .origo .controlContainer .c3 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: c3;
}

body .origo .controlContainer .c4 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: c4;
}

body .origo .controlContainer .c5 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: c5;
}

body .origo .clip {
  z-index: 1000;
  background-color: #555555aa;
  position: absolute;
  width: 1000px;
  height: 1000px;
  left: -500px;
  top: -500px;
  -webkit-clip-path: circle(250px);
          clip-path: circle(250px);
}

body .origo .clip .ship {
  width: 10px;
  height: 20px;
  border-radius: 50%;
  left: 495px;
  top: 495px;
  position: absolute;
  background-color: #3df900;
  z-index: 1;
}

body .origo .clip .ship .shipPlumeBottom,
body .origo .clip .ship .shipPlumeTopLeft,
body .origo .clip .ship .shipPlumeTopRight {
  position: absolute;
  z-index: 20;
  background-color: #ffffd3;
  -webkit-box-shadow: 0 0 3px 1px #ff0;
          box-shadow: 0 0 3px 1px #ff0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
}

body .origo .clip .ship .shipPlumeBottom {
  top: 23px;
  left: 4px;
  width: 2px;
  height: 10px;
}

body .origo .clip .ship .shipPlumeTopLeft,
body .origo .clip .ship .shipPlumeTopRight {
  top: -5px;
  left: 10px;
  width: 2px;
  height: 7px;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

body .origo .clip .ship .shipPlumeTopRight {
  left: -2px;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}

body .origo .clip .ship .shipPlumeShow {
  opacity: 0.6;
}

body .origo .clip .shadowShip {
  background-color: red;
  z-index: -10;
  width: 2px;
  height: 2px;
  left: 495px;
  top: 495px;
}

body .origo .clip #bullet {
  background-color: #9b9bf8;
  z-index: 90;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  left: 495px;
  top: 495px;
  position: absolute;
  opacity: 0;
}

body .origo .clip .map {
  position: relative;
  width: 1000px;
  height: 1000px;
  background-image: url("../img/hatter.jpg");
  background-size: 50% 50%;
  -webkit-transform: rotate(0deg), translateY(0px);
          transform: rotate(0deg), translateY(0px);
}

body .origo .clip .map .oc1 {
  width: 2px;
  height: 2px;
  left: 499px;
  top: 499px;
  position: absolute;
  background-color: #000;
  z-index: 200;
}

body .origo .clip .map .asteroid {
  position: absolute;
  background-color: #777;
  -webkit-box-shadow: 0 0 3px 2px #fff;
          box-shadow: 0 0 3px 2px #fff;
  border-radius: 4px;
}

body .origo .clip .map .fly {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 0;
  top: 0;
  border-radius: 50%;
  background-color: #e6e64d;
  z-index: 100;
}

body .origo .clip .map .morsel {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 0;
  top: 0;
  background-color: blue;
}

p, div {
  font-family: 'Roboto', sans-serif;
}
/*# sourceMappingURL=style.css.map */