// page style

// minden DIV és SECTION tag position:relative (_main.scss)
// minden DIV és SECTION tag box-sizing:border-box; (_main.scss)

.bigContanier {
  position: relative;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  background-color: #f5e1d0;

@import 'page_header';
@import 'page_main';
@import 'page_footer';

}