//  page > main > plans section

.plansSection {
  // background-color:#ddd;

  // .plansSectionItem {
  //   background-color:#ffffff;
  //   padding: $globalPadding;
  //   border-radius: $globalRadius;
  //   box-shadow: $globalShadow;
  //   border: 1px solid #999;
  // }
  
  .plansSectionItem:nth-child(1) {
    margin-bottom: $globalPadding;
  }

  li {
    margin: 0 0 10px;
    padding: 0 0 0 27px;
    background-size: 20px auto;
    background-repeat: no-repeat;
    background-position: 2px center;
    position: relative;
    color: #444;
    height: 100%;
        
    &::before {
      content: ' '; //'•'; 
      font-size: 2px;     
      width: 15px;
      height: 95%;
      font-size: 60px;
      margin: 0 0 0 -25px;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      border-radius: $globalRadius;
    }

    &:nth-child(1) {&::before {background-color: #f1661a;}}
    &:nth-child(2) {&::before {background-color: #c546ad;}}
    &:nth-child(3) {&::before {background-color: #75b31a;}}
    &:nth-child(4) {&::before {background-color: #03a058;}}
  }
}