// page > header

.headerContanier {
  position: relative;
  height: 50px;
  display: flex;
  justify-content: space-between;
  background-color:#f77300;
  padding: $globalPadding/4;

  h1 {
    position: relative;
    left: -30px;
    top: 10px;
  }
  
  .headerMenu {
    // position: relative;
    display: flex;
    width: 17%;
    right: 10px;
    justify-content: space-between;
    
    a {
      position: relative;
      top: 15px;
      color: black;
      text-decoration: none;
    }
    a:hover {
      color: whitesmoke;
      text-decoration: underline;
    }
  
  }

  .logo {
    width: 50px;
    height: 50px;
  }
}