// page > main > project section

.projectSection {  
  background-color: $colorSection;
  display: flex;
  flex-direction: column;
  background-image: url("../img/butterfly_tukor_m.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position-x: right;
  justify-content: space-between;
  color: whitesmoke;

  .projectHead {
    width: 50%;
        
    h2 {
      margin-bottom: 40px;
    }
  }
    
  .projectDescription {
    width: 50%;   
    margin-top: $globalPadding;
    
  }
}